{:deps    {com.bhauman/figwheel-main       {:mvn/version "0.1.9"}
           com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
           funcool/promesa {:mvn/version "1.9.0"}
           cljsjs/aws-sdk-js {:mvn/version "2.94.0-0"}

           }
 ;; setup some development paths
 :paths   ["src" "target" "resources"]
 ;; setup a helpful alias to start the build
 :aliases {:build-dev {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
