;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[funcool/promesa "1.9.0"]
  [hiccups "0.3.0"]
  [clj-commons/secretary "1.2.4"]
  [cider/cider-nrepl "0.16.0-SNAPSHOT"]]

 :nrepl {:port 8202}

 :builds
 {:app {:target     :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules    {:main {:init-fn main/-main}}
        :devtools
        {:http-root "public"
         :http-port 8020
         :after-load main/reload!}}
  }}
